<p>Students:</p>
<input [(ngModel)]="query" placeholder="Search..">
<ul class="list-group">
  <li *ngFor="let student of students | search:'firstName,lastName':query " class="list-group-item list-group-item-action">
    <span>{{ student.firstName }} {{ student.lastName }} </span>
    <button type="button" (click)="deleteStudent(student)" >
      <span class="fa fa-times"></span>
    </button>
  </li>
</ul>
<form [formGroup]="form" (submit)="createStudent()">
  <input formControlName="firstName" placeholder="First">
  <input formControlName="lastName" placeholder="Last">
  <input formControlName="birthYear" placeholder="Birthday">
  <button [disabled]="!form.valid">Add</button>
</form>
<button (click)="openForm()"><i class="fa fa-minus" aria-hidden="true"></i></button>


